body {
  color: #913d88;
  font-size: 22px;
  border: 1px solid rgb(100, 22, 168);
  padding: 5px;
}

ul {
  border: inherit;
}

li {
  list-style: none;
  border: inherit;
}

#id-text {
  color: brown;
}

#id-text.text {
  color: yellow;
}
article > p {
  color: orange;
}
.post {
  color: rgb(201, 10, 153);
  font-size: 18px;
}

.post > a:hover,
.post > a:focus {
  color: chocolate;
  font-size: 21px;
}

button {
  color: coral;
}

button:hover,
button:focus {
  color: cyan;
  border: 1px dotted green;
  border-radius: 50%;
}
.button:hover {
  color: black;
}
.important {
  color: chartreuse !important;
}
.post-link {
  color: inherit;
}
.link:visited {
  background-color: yellow;
}

.text-item:nth-child(even) {
  color: rgb(52, 205, 110);
}
.text-item:nth-child(-n + 4) {
  color: crimson;
}
.social-links .link {
  color: teal;
}
.social-links .link:hover,
.social-links .link:focus {
  color: orange;
}
.social-links .link:active {
  color: red;
}
